// This is the file that gets included in the index.html file
// It requires all the other small development files

@import "transitions";
@import "css_reset";
@import "animate_css";
@import "helpers";
@import "variables";

@import "pages/home";
@import "pages/game";
@import "pages/options";
@import "pages/game_over";

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Ubuntu", Arial;

    b{
        color: $blue;
    }
}

#navbar{
    .settings-btn{
        background: none;
        border: none;
        position: absolute;
        top: 2vw;
        left: 2vw;
        color: $blue;
        transition: transform 0.15s ease;
        // border: 1px solid red;

        i{
            font-size: 1.8vw;
        }
        z-index: 10;

        &:hover{
            opacity: 0.7;
            transform: rotateZ(45deg);
        }


        &:active {
            transform: rotateZ(45deg) scale(1.2);
        }
    }

    @media screen and (max-width: 765px){
        .settings-btn{
            top: 3vw;
            i{
                font-size: 10vw;
            }
        }
    }
}