// This is the file that gets included in the index.html file
// It requires all the other small development files

@import "css_reset";
@import "helpers";
@import "variables";

@import "pages/home";
@import "pages/game";
@import "pages/options";

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Ubuntu", Arial;
}