// This is the file that gets included in the index.html file
// It requires all the other small development files

@import "css_reset";
@import "helpers";
@import "variables";

@import "pages/home";
// @import "game";

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", Arial;
}