@import "../fireworks";

#game_over{
    flex-direction: column;
    h1{
        color: rgb(255, 115, 0);
        font-weight: bold;
        font-size: 6vw;
    
        @extend %orange_gradient_text;
        
    }

    button{
        margin-top: 5vw;
        border: 2px solid $orange;
        padding: 1vw 2.5vw;
        font-size: 1.8em;
        background: none;
        color: $orange;
        transition: 0.25s ease;
        border-radius: 50%;
        width: 7vw;
        height: 7vw;

        &:hover{
            color: white;
            background: $orange;
        }
    }
}