// HOME

h1{
    color: rgb(255, 115, 0);
    font-weight: bold;
    font-size: 8vw;


    @extend %orange_gradient_text;
    
}

.play-btn{
    width: 5vw;
    height: 5vw;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 2em;
    background: $orange_gradient;
}

.settings-btn{
    background: none;
    border: none;
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: $orange;
}

.instructions{
    color: rgb(156, 156, 156);
}