#options{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    .option{
        display: flex;
        align-items: center;
        margin-bottom: 2vw;
        color: $gray;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .checkbox{
        width: 2vw;
        height: 2vw;
        border: 1px solid $orange;
        margin-right: 1vw;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.25s ease;

        &:active {
            transform: scale(1.2);
        }
    }

    .checkbox--enabled{
        background-color: $orange;
    }
    
    @media screen and (max-width: 768px){
        .option{
            font-size: 5vw;
            margin-bottom: 5vw;
        }

        .checkbox{
            width: 10vw;
            height: 10vw;
            margin-right: 4vw;
            border-width: 2px;
        }
    }

    @media screen and (min-width: 1440px){
        .option{
            font-size: 1.8vw;
            margin-bottom: 2vw;
        }

        .checkbox{
            width: 3vw;
            height: 3vw;
            margin-right: 2vw;
            border-width: 2px;
        }
    }
}